behave>=1.0
git+https://jdunham@bitbucket.safetyauthority.ca/scm/nc/document-generator-service.git@DG-3-grouping-permit-templates-update
git+https://jdunham@bitbucket.safetyauthority.ca/scm/ess/email-sending-service-api.git@ESS-8-fix-pip-installability
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
htmlmin
mail-parser
requests<3.0
slate3k==0.5.3
tox
